html{
  font-family: Helvetica, sans-serif;
  margin:auto;
}

/*formatting the header*/
header h1{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 0px;
}
.nav li{
  background-color: lightgray;
  display: inline-block;
  padding: 10px 10px;
}
ul{
  list-style: none;
  margin:0px;
  font-size: 18px;
}
.nav{
  text-align: center;
}
li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/*formatting the main*/
main{
  margin: 10px 30px;
  text-align: center;
}
main > p{
  text-align: left;
  background-color: #12ed9d;
  padding: 10px;
}

.boxes{
  display:inline-block;
  padding-top: 5px;

}

.undexboxes{
  display: block;
  background-color: #fbc934;
  /*border-top: 1px solid black;*/
  line-height: 2.5;
  /*padding-top: 1px;*/
  margin-top: -15px;
}
.undexboxes > p{
  /*padding-top: 2px;*/
  /*border-top: 1px solid black;*/
}

/*footer styling*/
footer{
  background-color: black;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 5px;
}
